<!--
=========================================================
* Material Dashboard 2 - v3.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="apple-touch-icon" sizes="76x76" href="/img/admin/apple-icon.png">
     <link rel="icon" type="image/png" href="/img/admin/favicon.png">
     <title>RISHI STUDIO</title>
     <!--     Fonts and icons     -->
     <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
     <!-- Nucleo Icons -->
     <link href="/css/admin/nucleo-icons.css" rel="stylesheet" />
     <link href="/css/admin/nucleo-svg.css" rel="stylesheet" />
     <!-- Font Awesome Icons -->
     <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
     <!-- Material Icons -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
     <!-- CSS Files -->
     <link id="pagestyle" href="/css/admin/material-dashboard.css?v=3.1.0" rel="stylesheet" />
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>
     <style>
          .text-end {
               position: absolute;
               right: 0;
               top: 50%;
               transform: translateY(-35%);
          }

          .form-container {
               max-width: 800px;
               margin: 0 auto;
               padding: 2rem;
               background-color: #fff;
               border-radius: 5px;
               box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }

          .form-group {
               margin-bottom: 1.5rem;
          }

          .form-label {
               font-weight: bold;
               display: block;
               margin-bottom: 0.5rem;
          }

          .form-control {
               border-radius: 5px;
               padding: 0.5rem;
               font-size: 1rem;
               width: 100%;
          }

          .form-control:focus {
               box-shadow: 0 0 2px 1px rgba(0, 123, 255, 0.2);
          }

          .form-text {
               font-size: 0.8rem;
               color: #666;
          }

          .form-select {
               border-radius: 5px;
               padding: 0.5rem;
               font-size: 1rem;
               width: 100%;
          }

          .form-select:focus {
               box-shadow: 0 0 2px 1px rgba(0, 123, 255, 0.2);
          }

          .preview-container {
               max-width: 800px;
               margin: 2rem auto;
               display: flex;
               flex-wrap: wrap;
          }

          .preview-item {
               width: 100%;
               margin-bottom: 1rem;
          }

          .preview-image {
               width: 100%;
               border-radius: 5px;
               object-fit: cover;
               height: 200px;
          }

          .delete-button {
               border: none;
               background-color: white;
               color: black;
               font-weight: bold;
               font-size: 0.85rem;
               padding: 0.25rem 0.5rem;
               border-radius: 0 0.25rem 0.25rem 0;
          }

          .delete-button:hover {
               background-color: black;
               color: white;
          }

          .image-container {
               display: flex;
               width: 300px;
               flex-wrap: nowrap;
               overflow-x: auto;
               overflow-y: hidden;
               gap: 1rem;
          }

          .image-container>* {
               flex-shrink: 0;
          }
     </style>
</head>

<body class="g-sidenav-show  bg-gray-200">
     <aside
          class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
          id="sidenav-main">
          <hr class="horizontal light mt-0 mb-2">
          <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
               <ul class="navbar-nav">
                    <li class="nav-item">
                         <a class="nav-link text-white " href="/admin/dashboard">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                   <i class="material-icons opacity-10">dashboard</i>
                              </div>
                              <span class="nav-link-text ms-1">Dashboard</span>
                         </a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link text-white" href="/admin/viewproducts">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                   <i class="material-icons opacity-10">table_view</i>
                              </div>
                              <span class="nav-link-text ms-1">Products</span>
                         </a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link text-white " href="/admin/category">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                   <i class="material-icons opacity-10">table_view</i>
                              </div>
                              <span class="nav-link-text ms-1">Category</span>
                         </a>
                    </li>

                    <li class="nav-item">
                         <a class="nav-link text-white " href="/admin/viewusers">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                   <i class="material-icons opacity-10">person</i>
                              </div>
                              <span class="nav-link-text ms-1">Users</span>
                         </a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link text-white " href="/admin/vieworders">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                   <i class="material-icons opacity-10">receipt</i>
                              </div>
                              <span class="nav-link-text ms-1">Orders</span>
                         </a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link text-white active bg-gradient-primary" href="/admin/viewcoupons">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                   <i class="material-icons opacity-10">local_offer</i>
                              </div>
                              <span class="nav-link-text ms-1">Coupons</span>
                         </a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link text-white " href="">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                   <i class="material-icons opacity-10">card_giftcard</i>
                              </div>
                              <span class="nav-link-text ms-1">Offers</span>
                         </a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link text-white " href="/admin/logout">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                   <i class="material-icons opacity-10">logout</i>
                              </div>
                              <span class="nav-link-text ms-1">Logout</span>
                         </a>
                    </li>
               </ul>
          </div>
     </aside>
     <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
          <!-- Navbar -->
          <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
               data-scroll="true">
               <div class="container-fluid py-1 px-3">
                    <nav aria-label="breadcrumb">
                         <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                              <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark"
                                        href="/admin/viewcoupons">Coupons</a></li>
                              <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Edit Coupon</li>
                         </ol>
                         <h6 class="font-weight-bolder mb-0">Edit Coupon</h6>
                    </nav>
          </nav>
          <!-- End Navbar -->
          <div class="container-fluid py-4">
               <div class="row">
                    <div class="col-12">
                         <div class="card my-4">
                              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                   <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                        <h6 class="text-white text-capitalize ps-3">Add Category</h6>
                                   </div>
                              </div>
                              <div class="container-fluid">
                                   <div class="row">
                                        <div class="col-md-8">
                                             <form id="editCouponForm" action="/admin/editcoupon/<%= coupon._id %>"
                                                  method="POST" onsubmit="return validateForm()">
                                                  <div class="form-group">
                                                       <label for="code">Code</label>
                                                       <input type="text" class="form-control" name="code"
                                                            placeholder="Enter Coupon code" value="<%= coupon.code %>"
                                                            required>
                                                  </div>
                                                  <div class="form-group">
                                                       <label for="discountAmount">Discount Amount</label>
                                                       <input type="number" class="form-control" name="discountAmount"
                                                            placeholder="Enter Discount Amount"
                                                            value="<%= coupon.discountAmount %>" required>
                                                  </div>
                                                  <div class="form-group">
                                                       <label for="minimumPurchaseAmount">Minimum Purchase
                                                            Amount</label>
                                                       <input type="number" class="form-control"
                                                            name="minimumPurchaseAmount"
                                                            placeholder="Enter Minimum Purchase Amount"
                                                            value="<%= coupon.minimumPurchaseAmount %>" required>
                                                  </div>
                                                  <input type="submit" class="btn btn-primary" value="Save">
                                             </form>
                                             <script>
                                                  function validateForm() {
                                                       const code = document.querySelector('[name="code"]');
                                                       const discount = document.querySelector('[name="discountAmount"]');
                                                       const minimum = document.querySelector('[name="minimumPurchaseAmount"]');

                                                       // Check if any field is empty or contains only whitespace
                                                       if (!code.value.trim() || !discount.value.trim() || !minimum.value.trim()) {
                                                            Swal.fire({
                                                                 title: 'Error!',
                                                                 text: 'All fields are necessary',
                                                                 icon: 'error',
                                                                 confirmButton: 'Cool'
                                                            })
                                                            return false; // Prevent form submission
                                                       } else if (parseInt(discount.value) > parseInt(minimum.value)) {
                                                            Swal.fire({
                                                                 title: 'Error!',
                                                                 text: 'Discount is more than Min. Purchase',
                                                                 icon: 'warning',
                                                                 confirmButton: 'Change'
                                                            });
                                                            return false; // Prevent form submission
                                                       }

                                                       return true; // Allow form submission
                                                  }
                                             </script>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>


     </main>
     <!--   Core JS Files   -->
     <script src="/js/admin/core/popper.min.js"></script>
     <script src="/js/admin/core/bootstrap.min.js"></script>
     <script src="/js/admin/plugins/perfect-scrollbar.min.js"></script>
     <script src="/js/admin/plugins/smooth-scrollbar.min.js"></script>
     <script>
          var win = navigator.platform.indexOf('Win') > -1;
          if (win && document.querySelector('#sidenav-scrollbar')) {
               var options = {
                    damping: '0.5'
               }
               Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
          }
     </script>
     <!-- Github buttons -->
     <script async defer src="https://buttons.github.io/buttons.js"></script>
     <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
     <script src="/js/admin/material-dashboard.min.js?v=3.1.0"></script>
</body>

</html>