<%- include('../partials/loginheader') -%>

     <body>

          <nav class="py-3 bg-black  text-left w-full fixed top-0">
               <h1 class="text-white pl-2 text-4xl font-black">RISHI STUDIO</h1>
          </nav>

          <div class="flex mt-11 text-white fixed justify-end items-center w-full">
               <a href="/" class="text-sm bg-black px-2 border-2 border-white">
                    <i class="fa-solid fa-circle-user mr-2"></i>
                    USER
               </a>
          </div>

          <div class="flex justify-center items-center mt-5 pt-16">
               <div class="inline-block bg-slate-300 px-3 p-1">
                    <h1 class="text-4xl font-bold font-mono">LOGIN</h1>
               </div>
          </div>


          <div class="flex justify-center mt-4">
               <form action="/admin/login" method="post">
                    <div class="flex flex-col gap-y-2 rounded-2xl bg-slate-300 px-3 py-4">
                         <label for="username" class="-mb-1 -mt-2">Username</label>
                         <input type="text" name="username" class="h-8 w-64 border border-gray-700" required>
                         <label for="password" class="mt-3 -mb-1">Password</label>
                         <input type="password" name="password" class="h-8 w-64 border border-gray-700" required>
                    </div>
                    <div class="flex justify-center items-center mt-4 py-2">
                         <input type="submit"
                              class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"
                              name="submit" id="submit" value="Login">
                    </div>
               </form>
          </div>

          <script>
               const urlParams = new URLSearchParams(window.location.search);
               const error = urlParams.get('error');
               if (typeof error !== 'undefined') {
                    if (error.includes('email')) {
                         Swal.fire({
                              title: 'Error!',
                              text: 'No account existing for this email',
                              icon: 'error',
                              confirmButtonText: 'Cool'
                         })
                         window.history.replaceState({}, document.title, window.location.pathname);
                    } else if (error.includes('password')) {
                         Swal.fire({
                              title: 'Error!',
                              text: 'Invalid Password',
                              icon: 'error',
                              confirmButtonText: 'Cool'
                         })
                         window.history.replaceState({}, document.title, window.location.pathname);
                    }
               }
          </script>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>

     </body>

     </html>