<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="/css/user/style3.css" />
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.min.css">
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>
     <title>RISHI STUDIO</title>
     <link rel="icon" href="/img/landing/favicon.png">
</head>

<body>
     <div class="container">
          <div class="forms-container">
               <div class="signin-signup">
                    <form action="/admin/login" method="post" class="sign-in-form" onsubmit="return validateForm()">
                         <h1 class="title1">RISHI STUDIO</h1>
                         <h2 class="title">Sign in</h2>
                         <div class="input-field">
                              <i class="fas fa-user"></i>
                              <input name="username" type="text" placeholder="Username" />
                         </div>
                         <div class="input-field">
                              <i class="fas fa-lock"></i>
                              <input name="password" type="password" placeholder="Password" />
                         </div>
                         <input type="submit" value="Login" class="btn solid" />
                         <!-- Admin Login button -->
                         <a href="/" class="admin-login-btn">User Login</a>
                    </form>
               </div>
          </div>
          <script>
               function validateForm() {
                    const email = document.querySelector('[name="username"]');
                    const password = document.querySelector('[name="password"]');

                    // Check if any field is empty or contains only whitespace
                    if (!username.value.trim() || !password.value.trim()) {
                         Swal.fire({
                              title: 'Error!',
                              text: 'All fields are necessary',
                              icon: 'error',
                              confirmButton: 'Retry'
                         })
                         return false; // Prevent form submission
                    }

                    return true; // Allow form submission
               }
          </script>
          <script>
               function validateForm() {
                    const username = document.querySelector('[name="username"]');
                    if (!username.value.trim()) {
                         Swal.fire({
                              title: "Error",
                              text: "Username is empty!",
                              icon: "error",
                              confirmButtonText: 'Retry!'
                         })
                         return false;
                    }
                    return true;
               }
          </script>

          <div class="panels-container">
               <div class="panel left-panel">
                    <div class="content">
                         <h3>ADMIN LOGIN</h3>
                         <p>
                              One and only stop for the almighty Admin!
                         </p>
                    </div>
               </div>
          </div>

</body>

</html>