<!--  FOOTER MARKUP STARTS  -->

<!--  FOOTER MARKUP STARTS  -->

<footer class="bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Connect with Us</h5>
        <p>Follow us on social media for updates:</p>
        <div class="social-icons">
          <a href="#" class="me-2"><i class="fa fa-facebook text-primary"></i></a>
          <a href="#" class="me-2"><i class="fa fa-twitter text-info"></i></a>
          <a href="#" class="me-2"><i class="fa fa-instagram text-danger"></i></a>
          <a href="#" class="me-2"><i class="fa fa-linkedin text-info"></i></a>
        </div>
      </div>
      <div class="col-md-6">
        <h5>Contact Us</h5> 
        <p>Email: info@example.com</p>
        <p>Phone: +1 234 567 890</p>
      </div>
    </div>
  </div>
</footer>


<!--  FOOTER MARKUP ENDS  -->

<!--  FOOTER MARKUP ENDS  -->
 
 </body>
 </html>
