<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>RISHI STUDIO</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/user/style2.css">
  <link rel="icon" href="/img/landing/favicon.png">
  <style>
  
  html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
    .banner-wrapper {
      background-color: black;
      padding: 10px;
    }

    .banner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .banner h1 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding-left: 10px;
      margin-top: 0;
      color: white;
    }

    .form-outline-inline {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .form-outline-inline input[type="search"] {
      width: 100%;
      margin-right: 5px;
    }

    .icons {
      align-items: center;
    }

    .icons a {
      margin-right: 10px;
    }

    @media (min-width: 768px) {
      .banner h1 {
        margin-bottom: 0;
      }

      .form-outline-inline input[type="search"] {
        width: auto;
        margin-right: 0;
      }
    }

    .banner .icons i {
      font-size: xx-large;
      padding-right: 10px;
    }

    .banner .fa-heart {
      color: red !important;
    }

    .banner .fa-shopping-cart {
      color: orange !important;
    }

    .banner .fa-user {
      color: Teal !important;
    }

    .social-icons i {
      padding-right: 10px;
      color: white;
    }

    .breadcrumb {
      background-color: #f5f5f5;
      padding: 10px;
      margin-bottom: 20px;
    }

    .breadcrumb-item+.breadcrumb-item::before {
      content: ">";
      padding: 0 5px;
      color: #ccc;
    }

    .breadcrumb-item a {
      color: #333;
    }

    .breadcrumb-item.active {
      color: #777;
    }

    @media (max-width: 519px) {
      .breadcrumb {
        margin-top: 2rem;
      }
    }
  </style>
</head>