<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>RISHI STUDIO</title>
     <link rel="icon" href="/img/landing/favicon.png">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>
     <style>
          body {
               font-family: "Times New Roman", Times, serif sans-serif;
               background-color: gray;
               color: #333;
          }

          .profile {
               text-align: center;
               margin-bottom: 20px;
          }

          .profile img {
               width: 100px;
               height: 100px;
               border-radius: 50%;
               margin-bottom: 10px;
          }

          .profile h5 {
               font-weight: bold;
               margin: 0;
               font-size: 1.2rem;
          }

          .sidebar {
               background-color: black;
               padding: 20px;
               border-right: 2px solid blue;
               min-height: 100vh;
               color: #fff;
          }

          @media (max-width: 767px) {
               .sidebar {
                    min-height: 40vh;
               }
          }

          .sidebar ul {
               list-style-type: none;
               padding: 0;
               margin: 0;
          }

          .sidebar ul li {
               margin-bottom: 10px;
          }

          .sidebar ul li a {
               text-decoration: none;
               color: #fff;
               font-size: 1.1rem;
          }

          .sidebar ul li a:hover {
               color: #cce0ff;
          }

          .content {
               padding: 20px;
          }

          /* .input-group input:nth-child(0){
        width: 250px ; /* Adjust the width as needed */

          .change-password-form {
               background-color: white;
               padding: 30px;
               border-radius: 5%;
               box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
               /* Add shadow effect */
               align-items: center;
               margin-top: 2rem;
          }
     </style>
</head>

<body>
     <div class="container-fluid">
          <div class="row">
               <aside class="col-md-3 col-lg-2 d-md-block sidebar">
                    <div class="profile">
                         <img src="/img/landing/User Icon.webp" alt="Profile Picture" />
                         <h5>Hi, <%= user.name %></h5>
                    </div>
                    <ul class="nav flex-column">
                         <li class="nav-item">
                              <a class="nav-link" href="/user/profile"><i class="fas fa-user"></i> Profile</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/user/wallet"><i class="fas fa-wallet"></i> Wallet</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/user/vieworders"><i class="fas fa-shopping-bag"></i> Orders</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/user/addresss"><i class="fas fa-map-marker-alt"></i> Addresses</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/user/logout"><i class="fas fa-power-off"></i> Logout</a>
                         </li>
                    </ul>
               </aside>
               <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                    <div class="content d-flex justify-content-center align-items-center">
                         <div class="change-password-form">
                              <h1>Change Password</h1>
                              <form action="/user/changepass" method="post" id="passwordForm">
                                   <div class="form-group">
                                        <label for="password">Password:</label>
                                        <div class="input-group">
                                             <input type="password" id="password" name="password" class="form-control"
                                                  required>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label for="newpassword">New Password:</label>
                                        <div class="input-group">
                                             <input type="password" id="newpassword" name="newpassword"
                                                  class="form-control" required>
                                             <div class="input-group-append">
                                                  <button class="btn btn-outline-secondary toggle-password"
                                                       type="button">
                                                       <i class="fas fa-eye-slash eye-icon"
                                                            data-target="newpassword"></i>
                                                  </button>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label for="repassword">Repeat new password:</label>
                                        <div class="input-group">
                                             <input type="password" id="repassword" name="repassword"
                                                  class="form-control" required>
                                             <div class="input-group-append">
                                                  <button class="btn btn-outline-secondary toggle-password"
                                                       type="button">
                                                       <i class="fas fa-eye-slash eye-icon"
                                                            data-target="repassword"></i>
                                                  </button>
                                             </div>
                                        </div>
                                   </div>
                                   <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                         </div>
                    </div>
               </main>
          </div>
     </div>
     <script>
          document.getElementById('passwordForm').addEventListener('submit', async (event) => {
               event.preventDefault();
     
               const password = document.getElementById("password").value;
               const newPassword = document.getElementById("newpassword").value;
               const repeatPassword = document.getElementById("repassword").value;
     
               try {
                    const response = await fetch('/user/checkpass', {
                         method: 'POST',
                         headers: {
                              'Content-Type': 'application/json'
                         },
                         body: JSON.stringify({ password })
                    });
     
                    if (response.status === 200) {
                         const passwordMatch = await response.json();
                         if (passwordMatch) {
                              if (newPassword === repeatPassword) {
                                   // If passwords match and current password is correct, submit the form
                                   event.target.submit();
                              } else {
                                   Swal.fire({
                                        title: 'Check Again!',
                                        text: 'Passwords do not match',
                                        icon: 'warning',
                                        confirmButtonText: 'Try Again!'
                                   });
                              }
                         } else {
                              Swal.fire({
                                   title: 'Invalid Password!',
                                   text: 'The password you entered is incorrect',
                                   icon: 'error',
                                   confirmButtonText: 'OK'
                              });
                         }
                    } else {
                         console.error('Failed to check password:', response.statusText);
                         Swal.fire({
                              title: 'Error!',
                              text: 'Failed to check password',
                              icon: 'error',
                              confirmButtonText: 'OK'
                         });
                    }
               } catch (error) {
                    console.error('Error:', error);
                    Swal.fire({
                         title: 'Error!',
                         text: 'An unexpected error occurred',
                         icon: 'error',
                         confirmButtonText: 'OK'
                    });
               }
          });
     </script>
     
     <script>
          document.addEventListener("DOMContentLoaded", function () {
               const togglePasswords = document.querySelectorAll(".toggle-password");

               togglePasswords.forEach(function (togglePassword) {
                    togglePassword.addEventListener("click", function () {
                         const eyeIcon = this.querySelector(".eye-icon");
                         const targetId = eyeIcon.getAttribute("data-target");
                         const targetInput = document.getElementById(targetId);

                         if (targetInput.type === "password") {
                              targetInput.type = "text";
                              eyeIcon.classList.remove("fa-eye-slash");
                              eyeIcon.classList.add("fa-eye");
                         } else {
                              targetInput.type = "password";
                              eyeIcon.classList.remove("fa-eye");
                              eyeIcon.classList.add("fa-eye-slash");
                         }
                    });
               });
          });
     </script>
     <script>
          const urlParams = new URLSearchParams(window.location.search);
          const msg = urlParams.get('msg');
          if (typeof msg !== 'undefined') {
               if (msg.includes('succ')) {
                    Swal.fire({
                         title: 'Success!',
                         text: 'Password Changed!',
                         icon: 'success',
                         confirmButtonText: 'Cool'
                    })
                    window.history.replaceState({}, document.title, window.location.pathname);
               } else if (msg.includes('err')) {
                    Swal.fire({
                         title: 'Failure!',
                         text: 'Password cannot be changed',
                         icon: 'failure',
                         confirmButtonText: 'Cool'
                    })
                    window.history.replaceState({}, document.title, window.location.pathname);
               }
          }
     </script>

     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>