<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/user/style3.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>
  <title>OTP Verification</title>
  <link rel="icon" href="/img/landing/favicon.png">
</head>

<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="/user/forgotpass" method="post" class="otp-form">
          <h2 class="title">Account Recovery</h2>
          <div class="input-field">
            <i class="fas fa-key"></i>
            <input type="text" name="email" placeholder="Enter email" />
          </div>
          <input type="submit" value="Verify" class="btn solid" />       
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Account Recovery</h3>
          <p>
            Please enter the email registered with us.
          </p>
        </div>
      </div>
    </div>
  </div>
  <script>
     const urlParams = new URLSearchParams(window.location.search);
     const error = urlParams.get('error');
     if (typeof error !== 'undefined') {
          if (error.includes('noexist')) {
               Swal.fire({
                    title: 'Error!',
                    text: 'No account existing for this email',
                    icon: 'error',
                    confirmButtonText: 'Cool'
               })
               window.history.replaceState({}, document.title, window.location.pathname);
          } else if (error.includes('otpwrong')) {
               Swal.fire({
                    title: 'Error!',
                    text: 'Wrong OTP!',
                    icon: 'error',
                    confirmButtonText: 'Cool'
               })
               window.history.replaceState({}, document.title, window.location.pathname);
          } else if (error.includes('expired')) {
               Swal.fire({
                    title: 'Error!',
                    text: 'OTP expired',
                    icon: 'error',
                    confirmButtonText: 'Cool'
               })
               window.history.replaceState({}, document.title, window.location.pathname);
          } else if (error.includes('error')) {
               Swal.fire({
                    title: 'Error!',
                    text: 'Error updating password!',
                    icon: 'error',
                    confirmButtonText: 'Cool'
               })
               window.history.replaceState({}, document.title, window.location.pathname);
          } else if (error.includes('gaccnt')) {
               Swal.fire({
                    title: 'Error!',
                    text: 'Cannot change the password of Google account!',
                    icon: 'error',
                    confirmButtonText: 'Cool'
               })
               window.history.replaceState({}, document.title, window.location.pathname);
          }
     }
</script>
</body>

</html>