<%- include('../partials/landheader') -%>
    <!--  SLIDER STARTS  -->

    <section class="slider text-center" id="slider">
        <div class="slider-overlay">
            <div class="slider-content">
                <div class="icons">
                    <i class="fa fa-apple"></i>
                    <i class="fa fa-android"></i>
                    <i class="fa fa-windows"></i>
                </div><br>
                <div class="text">
                    <h3>Fashion, Right Here...</h3>
                </div>
                <div class="social-networks">
                    <a href="https://www.linkedin.com/in/rishiraj-s-a11b20269" target="_blank"><i
                            class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/rishi-rj-s" target="_blank"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!--  SLIDER STARTS  -->

    <!--  SERVICES START  -->

    <section class="service-area" id="services">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center">
                        <h2><b> Your Choices </b></h2>
                        <p>
                            Browse below to find out the amazing <br> selections we have
                        </p>
                    </div>
                </div>
            </div><br><br>

            <div class="row">
                <div class="col-md-4  col-xs-12">
                    <div class="service-wrap  text-center">
                        <div class="service-icon">
                            <i class="fa fa-child"></i>
                            <h3>KID's</h3>
                        </div>
                        <a href="/user/products/Kid's"><img src="/img/landing/Kid Model.jpg" alt="Men's"
                                style="width: 100%; height: auto;"></a>
                    </div>
                </div>
                <div class="col-md-4  col-xs-12">
                    <div class="service-wrap  text-center">
                        <div class="service-icon">
                            <i class="fa fa-male"></i>
                            <h3>MEN's</h3>
                        </div>
                        <a href="/user/products/Men's"><img src="/img/landing/Men Model.jpg" alt="Men's"
                                style="width: 100%; height: auto;"></a>
                    </div>
                </div>
                <div class="col-md-4  col-xs-12">
                    <div class="service-wrap  text-center">
                        <div class="service-icon">
                            <i class="fa fa-female"></i>
                            <h3>WOMEN's</h3>
                        </div>
                        <a href="/user/products/Women's"><img src="/img/landing/Women Model.jpg" alt="Men's"
                                style="width: 100%; height: auto;"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  SERVICES END  -->

    <!-- OFFER SECTION STARTS -->


    <section class="offer-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mb-4">
                    <div class="carousel slide" id="carousel-testimonials" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-testimonials" class="active" data-slide-to="0"></li>
                            <li data-target="#carousel-testimonials" class="" data-slide-to="1"></li>
                            <li data-target="#carousel-testimonials" class="" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active text-center">
                                <img src="/img/landing/offers.webp" alt="carousel 1" class="center-block">
                            </div>
                            <div class="item text-center">
                                <img src="/img/landing/offers2.webp" alt="carousel 2" class="center-block">
                            </div>
                            <div class="item text-center">
                                <img src="/img/landing/offers3.jpg" alt="carousel 3" class="center-block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var carouselImages = document.querySelectorAll('#carousel-testimonials .carousel-inner .item img');
            var href = "/user/products/Offer's";
            carouselImages.forEach(function (image) {
                image.addEventListener('click', function () {
                    window.location.href = href;
                });
            });
        });
    </script>



    <!-- OFFER SECTION ENDS -->

    <!--  FAQ STARTS  -->

    <br><br><br>
    <section class="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center general-faq">
                    <h2><b>GENERAL FAQ's</b></h2>
                    <div class="sub-headings">
                        <p>
                            You can ask questions regarding <br>any issues here.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>

        <div class="container faq-qns">
            <div class="row">
                <div class="col-md-7">
                    <div class="panel-group" id="accordian">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingOne">
                                <h4 class="panel-title">
                                    <a href="#collapseOne" class="collapsed" data-toggle="collapse"
                                        data-parent="#accordian">What is Rishi Studio?</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" arial-labelledby="headingone">
                                <div class="panel-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Iure, nisi dignissimos nam vero atque porro tempora
                                        exercitationem ipsam corporis officia magni rerum
                                        sed nulla explicabo soluta accusantium ea architecto ex!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingTwo">
                                <h4 class="panel-title">
                                    <a href="#collapseTwo" class="collapsed" data-toggle="collapse"
                                        data-parent="#accordian">Where to find your store?</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" arial-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Iure, nisi dignissimos nam vero atque porro tempora
                                        exercitationem ipsam corporis officia magni rerum
                                        sed nulla explicabo soluta accusantium ea architecto ex!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingThree">
                                <h4 class="panel-title">
                                    <a href="#collapseThree" class="collapsed" data-toggle="collapse"
                                        data-parent="#accordian">How to return a product?</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" arial-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Iure, nisi dignissimos nam vero atque porro tempora
                                        exercitationem ipsam corporis officia magni rerum
                                        sed nulla explicabo soluta accusantium ea architecto ex!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingFour">
                                <h4 class="panel-title">
                                    <a href="#collapseFour" class="collapsed" data-toggle="collapse"
                                        data-parent="#accordian">How to return a product?</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" arial-labelledby="headingFour">
                                <div class="panel-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Iure, nisi dignissimos nam vero atque porro tempora
                                        exercitationem ipsam corporis officia magni rerum
                                        sed nulla explicabo soluta accusantium ea architecto ex!
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="freeimage">
                    <div class="col-md-2 col-md-offset-1">
                        <img src="/img/landing/iPhone.webp" alt="iPhone">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--  FAQ ENDS  -->


    <!--  REVIEWS STARTS  -->

    <section class="testimonials" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <br><br>
                    <h2><b><u> REVIEWS </u></b></h2>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-12">
                    <div class="carousel slide" id="carousel-testimonials" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-testimonials" class="active" data-slide-to="0"></li>
                            <li data-target="#carousel-testimonials" class="" data-slide-to="1"></li>
                            <li data-target="#carousel-testimonials" class="" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active text-center">
                                <img src="/img/landing/clinet-1.webp" alt="client 1" class="center-block"
                                    style="height: 10%; width: 10%;">
                                <h2>Mr. Client 1</h2>
                                <h4>Housewife</h4>
                                <p>The stocks are from a different world i guess. <br> Absolutely
                                    Magnificent.<br>Mindblowing interiors.</p>
                            </div>
                            <div class="item text-center">
                                <img src="/img/landing/clinet-1.webp" alt="client 1" class="center-block"
                                    style="height: 10%; width: 10%;">
                                <h2>Mr. Client 2</h2>
                                <h4>Author</h4>
                                <p>The inviting ambiance and friendly service make<br>this studio a fantastic spot.</p>
                            </div>
                            <div class="item text-center">
                                <img src="/img/landing/clinet-1.webp" alt="client 1" class="center-block"
                                    style="height: 10%; width: 10%;">
                                <h2>Mr. Client 3</h2>
                                <h4>Designer</h4>
                                <p>The attention to detail and<br>fresh stitches on the fabrics make this place stand
                                    out.<br>It's a must-visit for anyone.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  REVIEWS ENDS  -->



    <%- include('land_footer') -%>

        <script>
            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get('msg'); // Change 'message' to 'msg'
            if (typeof message !== 'undefined') {
                if (message.includes('loggedin')) {
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Logged In",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    window.history.replaceState({}, document.title, window.location.pathname);
                }
            }
        </script>
        <script src="/js/landing/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="/js/landing/main.js" type="text/javascript"></script>
        <script src="/js/landing/jquery.counterup.min.js" type="text/javascript"></script>