<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="/css/user/style3.css">
     <title>RISHI STUDIO</title>
     <link rel="icon" href="/img/landing/favicon.png">
</head>

<body>


     <div class="container">
          <div class="forms-container">
               <div class="signin-signup">
                    <form action="/user/resetpassword" method="post" onsubmit="return validateForm()" class="otp-form">
                         <h2 class="title">Reset Password</h2>
                         <div class="input-field">
                              <i class="fas fa-key"></i>
                              <input name="password" type="password" placeholder="Enter new password" />
                         </div>
                         <input type="submit" value="Save" class="btn solid"/>
                    </form>
               </div>
          </div>


          <div class="panels-container">
               <div class="panel left-panel">
                 <div class="content">
                   <h3>Account Recovery</h3>
                   <p>
                     Please enter a new password for your account.
                   </p>
                 </div>
               </div>
             </div>

     </div>

     <script>
          // Function to validate form
          function validateForm() {
               const otp = document.querySelector('[name="password"]');

               // Check if any field is empty or contains only whitespace
               if (!otp.value.trim()) {
                    Swal.fire({
                         title: 'Error!',
                         text: 'Password is Empty',
                         icon: 'error',
                         confirmButton: 'Retry'
                    });
                    return false; // Prevent form submission
               }

               return true; // Allow form submission
          }
     </script>

</body>

</html>