<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RISHI STUDIO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>
   <style>
        body {
            font-family: 'Times New Roman', Times, serif sans-serif;
            background-color: #f8f9fa;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .profile-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: 100vh;
        }

        .profile-card {
            width: 250px;
            margin: 10px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }

        .profile-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        .profile-card img {
            width: 100%;
            height: auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .profile-card .card-body {
            text-align: left;
            padding: 20px;
        }

        .profile-card .card-body h5 {
            margin-bottom: 10px;
            font-size: 1.5rem;
            color: #333;
        }

        .profile-card .card-link {
            text-decoration: none;
            color: #007bff;
            transition: all 0.3s ease;
            display: block;
            text-align: center;
            margin-bottom: 10px;
            margin-left: 0;
            padding: 10px;
            border: 1px solid #007bff;
            border-radius: 5px;
        }

        .profile-card .card-link:hover {
            background-color: #007bff;
            color: #fff;
        }

        .banner-wrapper {
            background-color: black;
        }

        .banner {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            background-color: black;
            padding: 10px;
        }

        .banner h1 {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin: 0;
            color: white;
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
        }

        .back-button {
            color: white;
            background-color: transparent;
            border: none;
            font-size: 20px;
            cursor: pointer;
            margin-left: 0;
            margin-right: auto;
        }

        .back-button:hover {
            color: #ccc;
        }

        .icons {
            align-items: center;
        }

        .icons a {
            margin-right: 10px;
        }

        @media (min-width: 768px) {
            .banner h1 {
                margin-bottom: 0;
            }

            .form-outline-inline input[type="search"] {
                width: auto;
                margin-right: 0;
            }
        }

        .social-icons i {
            padding-right: 10px;
        }
    </style>
</head>

<body>

    <div class="banner-wrapper">
        <div class="banner">
            <a href="/user/landing"><button class="back-button"><i class="fas fa-arrow-left"></i></button></a>
            <h1 class="title">RISHI STUDIO</h1>
            <!-- Add other elements here if needed -->
        </div>
    </div>

    <div class="container mt-5">
        <div class="profile-container">
            <div class="profile-card">
                <img src="/img/landing/User Icon.webp" alt="Profile Picture">
                <div class="card-body">
                    <h5>Hey, <%=user.name%></h5>
                </div>
            </div>
            <div class="profile-card">
                <div class="card-body">
                    <a href="/user/address" class="card-link"><i class="fas fa-map-marker-alt fa-2x"></i><br>
                        Addresses</a>
                    <a href="/user/cart" class="card-link"><i class="fas fa-shopping-cart fa-2x"></i><br> Cart</a>
                    <a href="/user/orders" class="card-link"><i class="fas fa-shopping-bag fa-2x"></i><br> Orders</a>
                    <a href="/user/Wishlist" class="card-link"><i class="fas fa-heart fa-2x"></i><br> Wishlist</a>
                    <!-- <a href="/user/" class="card-link"><i class="fas fa-credit-card fa-2x"></i><br> Wallet</a> -->
                    <a href="/user/changepass" class="card-link"><i class="fas fa-lock fa-2x"></i><br> Change Password</a>
                    <a href="/user/logout" class="card-link"><i class="fas fa-power-off fa-2x"></i><br> Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('msg');
        if (typeof error !== 'undefined') {
            if (error.includes('adserr')) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Error fetching Address',
                    icon: 'error',
                    confirmButtonText: 'Cool'
                })
                window.history.replaceState({}, document.title, window.location.pathname);
            } else if (error.includes('carterr')) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Error fetching cart',
                    icon: 'error',
                    confirmButtonText: 'Cool'
                })
                window.history.replaceState({}, document.title, window.location.pathname);
            } else if (error.includes('oderr')) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Error fetching orders',
                    icon: 'error',
                    confirmButtonText: 'Cool'
                })
                window.history.replaceState({}, document.title, window.location.pathname);
            } else if (error.includes('cannotp')) {
                Swal.fire({
                    title: 'Error!',
                    text: 'You cannot change password of a google account',
                    icon: 'error',
                    confirmButtonText: 'Cool'
                })
                window.history.replaceState({}, document.title, window.location.pathname);
            } else if (error.includes('chpasu')) {
                Swal.fire({
                    title: 'Success!',
                    text: 'Password changed successfully!',
                    icon: 'success',
                    confirmButtonText: 'Cool'
                })
                window.history.replaceState({}, document.title, window.location.pathname);
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <%-include('footer')%>
</body>

</html>